@model List<Endpoins.Models.TextModel>
@{
    ViewData["Title"] = "Text List";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Content</th>
        <th>Size</th>
        <th>Date of creation</th>
        <th>Price</th>
        <th>Purchases</th>
        <th>Rating</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AuthorId</td>
<td>@item.Name</td>
<td>@item.Content</td>
<td>@item.Size</td>
            <td>
                @item.Date
            </td>
<td>@item.Price</td>
<td>@item.Purchases</td>
<td>@item.Rating</td>
        </tr>
    }
</table>
 <form asp-action="TextText" asp-controller="Text" method="post">
<input type="submit" class="btn btn-default" value="Text All" />
</form>