@model Endpoins.Models.PhotoModel
@{
    ViewData["Title"] = "Список Фотографий";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Photo" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Url</th>
<th>Size</th>
<th>Date of creation</th>
<th>Price</th>
<th>Purchases</th>
<th>Rating</th>
    </tr>
 
    
    {
        <tr>
            <td>@Model.AuthorId</td>
<td>@Model.Name</td>
<td>@Model.Url</td>
<td>@Model.Size</td>
            <td>
                @Model.Date
            </td>
<td>@Model.Price</td>
<td>@Model.Purchases</td>
<td>@Model.Rating</td>
            
        </tr>
    }
</table>
<a href="https://localhost:44346/api/photo">
<input type="button" value="Back">
</a>